.add-disc__video {
  width: 100%;
}

.add-disc__poster {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}

.add-disc__search-result-poster {
  height: 60px;
  width: auto;
}

.text-input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  padding: 8px 0;
  color: inherit;
  font-size: inherit;
}
